.footer {
    background-color: red;
    color: white;
    padding: 20px 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  
  .social-icons {
    margin-top: 10px; /* Abstand zwischen Links und Social Icons */
  }
  
  .social-icons a {
    margin-right: 10px; /* Abstand zwischen den Social Icons jo*/
  }
  